<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/list.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BREAD(Browse,Read,Edit,Add,Delete) and Pagination</title>
</head>

<body>

    <div class="header">
        <div class="btn-header">
            <h1>SQlite Bread(Browse,Read,Edit,Add,Delete) and Pagination</h1>
        </div>
        <div>
            <form action="" method="get">
                <div class="table">
                    <p>Name
                        <input type="text" name="name" placeholder="insert your name" value="<%=query.name%>">
                    </p>
                    <p>
                        Height
                        <input type="number" name="height" placeholder="insert your height" value="<%=query.height%>">
                    </p>
                    <p>
                        Weight
                        <input type="number" name="weight" step="0.0001" placeholder="insert your weight"
                            style="margin-left:91px; width: 86%;" value="<%=query.weight%>">
                    </p>
                    <p name="birthdate">
                        Birth Date
                        <input type="date" name="startdate" style="width: 36%; margin-right: 60px;"
                            value="<%= query.startdate%>">
                        s.d.
                        <input type="date" name="enddate" style="width: 36%; margin-left: 60px;"
                            value="<%= query.enddate%>">
                    </p>
                    <p name="married">
                        Is Married
                        <%if(query.married==='0'){%>
                            <select name="married" class="married">
                                <option disable selected value="">-select married-</option>
                                <option value="0" selected>Not Yet</option>
                                <option value="1">Yes</option>
                            </select>
                            <%}else if(query.married==='1' ){%>
                                <select name="married" class="married">
                                    <option disable selected value="">-select married-</option>
                                    <option value="0">Not Yet</option>
                                    <option value="1" selected>Yes</option>
                                </select>
                                <%}else{%>
                                    <select name="married" class="married">
                                        <option disable selected value="">-select married-</option>
                                        <option value="0">Not Yet</option>
                                        <option value="1">Yes</option>
                                    </select>
                                    <%}%>
                    </p>
                    <p>
                        Operation
                        <%if(query.mode=='OR' ){%>
                            <input value="" id="or" type="radio" checked>
                            <label for="or">OR</label>
                            <input value="" id="and" type="radio" style="margin-left: 20px;">
                            <label for="and">AND</label>
                            <%}%>
                    </p>
                </div>
                <div class="footer">
                    <button type="submit" class="search">Search</button>
                    <a href="/" class="cancel">Reset</a>
                </div>
            </form>
        </div>
        <hr style="border: 1px groove #f2f2f2" class="garis">
        <table class="head">
            <tr>
                <th>No.</th>
                <th>Name </th>
                <th>Height</th>
                <th>Weight</th>
                <th>Birth Date</th>
                <th>Is Married</th>
                <th>actions</th>
            </tr>
            <% rows.forEach((item,index)=>{%>
                <%if(item.married===1){%>
                    <tr class="body">
                        <td>
                            <%= item.id %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.height %>
                        </td>
                        <td>
                            <%= item.weight %>
                        </td>
                        <td>
                            <%= item.birthdate %>
                        </td>
                        <td>
                            <%= "Yes" %>
                        </td>
                        <td>
                            <a href="/update/<%=item.id%>" class="update">
                                Update
                            </a>
                            <a href='/delete/<%=item.id%>' onclick="return notifikasi('<%=item.name%>')" class="delete">
                                Delete
                            </a>
                        </td>
                    </tr>
                    <%}%>
                        <%if(item.married===0){%>
                            <tr class="body">
                                <td>
                                    <%= item.id %>
                                </td>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <%= item.height %>
                                </td>
                                <td>
                                    <%= item.weight %>
                                </td>
                                <td>
                                    <%= item.birthdate %>
                                </td>
                                <td>
                                    <%= "Not Yet" %>
                                </td>
                                <td>
                                    <a href="/update/<%=item.id%>" class="update">
                                        Update
                                    </a>
                                    <a href='/delete/<%=item.id%>' onclick="return notifikasi('<%=item.name%>')"
                                        class="delete">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            <%}%>
                                <% }) %>
        </table>
        <script>
            function notifikasi(item) {
                const jawab = confirm(`apakah kamu yakin akan menghapus data '${item}'?`)
                if (jawab) {
                    return true
                } else {
                    return false
                }
            }
        </script>
        <div class="btn-add">
            <a href="/add" class="add">Add</a>
            <div class="pagination">
                <a href="#" style="background-color: white; color: blue;">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" style="background-color: white; color: blue;">&raquo;</a>
            </div>
        </div>
    </div>
</body>

</html>